body {
    background: #a6a6a6;    
}

h2 a, h1 a {
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    flex-direction: column;
    height: 50vh;
}

nav {
    display: flex;
    Flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    font-size: 1.5em;
    margin-top: 20px;
}

    nav button{
        padding: 10px;
    }

    nav select, nav input[type=submit], nav input[type=type]{
        padding: 8px;
    }

.homePage{
    font-family: sans-serif;
    font-size: 3em;
    margin: auto; 
    justify-content: center;
}

section {
    display: flex;
    Flex-direction: column;
    justify-content: center;
}

.article{ /* rows of articles */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    width: 100%;  
    flex-wrap: wrap;
    margin: auto;
}

.article:last-child{
    justify-content: flex-start;
}

article { /* each video game review */
    display: flex;
    flex-direction: column;
    width: 29%;
    border: 1px solid grey;
    margin: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: beige;
    }
    
    /* article h2, article p, article small{
        padding-left: ;
    } */


h2{
    Font-family: sans-serif;
    Font-size: 1rem;
    }

/* REGISTER/LOGIN */

#wrapper {
    width: 1000px;
    margin: 10px auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
    border: 1px solid grey;
    padding: 20px;
    background: #EEEEEE; 
    background-color: beige;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/register button */
.registerbtn {
    justify-content: center;
    background-color: #04AA6D;
    color: black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
    padding: 0px;
}

#footer {
    text-align: right;
    margin-top: 10px;
    
}

/* comments section */

.comments{
    width: 1000px;
    margin: 10px auto;
    text-align: left;
    border: 1px solid grey;
    padding: 20px;
    background: #EEEEEE; 
    
}

    .comments h1{
        font-size: 2.5em;
        margin-left: 25px;
    }

.comments input[type=text]{
    width: 500px;
    border: 1px solid grey;
    height: 50px;
    margin: 25px;
}

    .comments article{
        width: 27%;
    }

    .commentInput input[type=submit]{
        padding: 33px;
    }

.commentInput{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
}

.titleAndGame{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    font-size: 1.4em;
}

    .titleAndGame label:nth-child(3){
        padding-left: 20px;
    }

.createContent{
    display: flex;
    flex-direction: column;
}

.createContent textarea{
    height: 150px;
    width: 70%;
}

.createContent input[type=submit]{
    padding: 33px;
}

.newPosth1{
    text-align: center;
}

.commentBy{
    background-color: white;
    border: 1px solid grey;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 50px;
}