body {
    background: #a6a6a6;    
}

h2 a, h1 a {
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    display: flex;
    Flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    font-size: 1.5em;
}

h1 {
    font-family: sans-serif;
    font-size: 2rem;
    margin: auto; 
    justify-content: center;
}

section {
    display: flex;
    Flex-direction: column;
    justify-content: center;
}

div { /* rows of articles */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    width: 100%;  
    flex-wrap: wrap;
    margin: auto;
}

article { /* each video game review */
    display: flex;
    flex-direction: column;
    width: 31%;
    border: 1px solid grey;
    margin: 5px;
    padding-left: 20px;
    background-color: beige;
    }
    
    /* article h2, article p, article small{
        padding-left: ;
    } */


h2{
    
    Font-family: sans-serif;
    Font-size: 1rem;
    }

/* REGISTER/LOGIN */

#wrapper {
    width: 1000px;
    margin: 10px auto;
    text-align: left;
    border: 1px solid grey;
    padding: 20px;
    background: #EEEEEE; 
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
    justify-content: center;
    background-color: #04AA6D;
    color: black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}